.bg-trans-white{
    background-color: #e3e3e345;
}

.hero-overlay {
    background: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.3) 100%
    );
}

.qr-code {
    width: 100% !important;
    height: 100% !important;
    padding: 8px;
}

.qr-code canvas {
    width: 100% !important;
    height: 100% !important;
}
