<!-- Hero Section -->
<section class="relative min-h-screen" id="hero-section">
    <img [src]="destination.bgimage" [alt]="destination.name"
        class="w-full h-full object-cover absolute inset-0">
    <div class="absolute inset-0 bg-gradient-to-r from-black/90 via-black/50 to-black/0">
    </div>
    <div class=" flex flex-row flex-wrap justify-center sm:justify-between items-center min-h-screen relative max-w-7xl mx-auto px-6 pt-[84px] pb-8 md:px-16 2xl:px-0">
        <div class="text-white max-w-4xl flex flex-row">

            <div>                    
                <div class="py-8">
                    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 mb-4 sm:mb-6">
                        <h1 class="capitalize text-2xl sm:text-3xl lg:text-4xl xl:text-5xl font-bold leading-tight tracking-tight">
                           {{destination.name}}</h1>
                    </div>
                    <p
                        class="text-sm sm:text-base line-clamp-3 lg:text-lg leading-relaxed sm:mb-8 text-gray-100 max-w-2xl opacity-90">
                         {{destination.description}}
                    </p>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-3 mb-6 sm:mb-8 max-w-3xl">
                    <span *ngFor="let tag of destination.tags"
                        class="px-3 sm:px-4 py-1 sm:py-1.5 bg-secondary/5 hover:bg-secondary/10 backdrop-blur-sm rounded-full text-white font-medium text-xs sm:text-sm flex items-center transition-all duration-300 group">
                        <i [ngClass]="`${tag.icon} mr-2 text-accent group-hover:text-accent/80`"></i> {{tag.label}}
                    </span>
                </div>
                <div class="flex flex-col sm:flex-row gap-3 sm:gap-4">
                    <button (click)="scrollTo('about-section')"
                        class="cursor-pointer w-full sm:w-auto bg-gradient-to-r from-primary to-primary/80 text-white px-4 sm:px-6 py-2 sm:py-3 rounded-xl font-medium hover:from-primary/90 hover:to-primary transition-all duration-300 flex items-center justify-center shadow-lg hover:shadow-xl">
                        <i class="fas fa-file-alt mr-2 sm:mr-3"></i> <span>Explore More</span>
                    </button>
                    <button (click)="showAudioModal = true"
                        class="cursor-pointer w-full sm:w-auto bg-gradient-to-r from-secondary to-secondary/80 text-white px-4 sm:px-6 py-2 sm:py-3 rounded-xl font-medium hover:from-secondary/90 hover:to-secondary transition-all duration-300 flex items-center justify-center shadow-lg hover:shadow-xl">
                        <i class="fas fa-volume-up mr-2 sm:mr-3"></i> <span>Audio Guide</span>
                    </button>
                    <button (click)="scrollTo('guide-map-section')"
                        class="cursor-pointer w-full sm:w-auto bg-gradient-to-r from-accent to-accent/80 text-white px-4 sm:px-6 py-2 sm:py-3 rounded-xl font-medium hover:from-accent/90 hover:to-accent transition-all duration-300 flex items-center justify-center shadow-lg hover:shadow-xl">
                        <i class="fas fa-map-marker-alt mr-2 sm:mr-3"></i> <span>Navigate Now</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="mt-6 sm:mt-8 bg-white/10 p-4 sm:p-6 rounded-lg shadow-lg backdrop-blur-md max-w-sm">
            <div class="flex flex-col sm:flex-row items-center gap-6 sm:gap-4">
                <div class="h-24 w-24 sm:h-32 sm:w-32 shrink-0 rounded-lg">
                        <qrcode
                            class="aspect-square bg-white rounded-lg" 
                            [qrdata]="shareUrl + '/destination/' + destination.name" 
                            [width]="120" 
                            [margin]="1"
                            [cssClass]="'qr-code'"
                            [errorCorrectionLevel]="'M'">
                        </qrcode>
                </div>
                <div class="text-white text-center sm:text-left">
                    <h2 class="text-lg sm:text-xl font-semibold mb-2">Scan the QR Code</h2>
                    <p class="text-sm sm:text-base text-gray-200 opacity-90">
                        Use this QR code to quickly access the details of {{destination.name}} on another device.
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-3 sm:gap-4 mt-4">
                <button (click)="downloadQR()"
                    class="cursor-pointer w-full text-gray-100  px-4 sm:px-6 py-2 sm:py-3 rounded-xl font-normal hover:text-green-500 transition-all duration-300 flex items-center justify-center">
                    <i class="fas fa-download mr-2 sm:mr-3"></i> <span>Download</span>
                </button>
                <button (click)="shareQR()"
                    class="cursor-pointer w-full text-gray-100 px-4 sm:px-6 py-2 sm:py-3 rounded-xl font-normal hover:text-blue-400 transition-all duration-300 flex items-center justify-center">
                    <i class="fas fa-share-alt mr-2 sm:mr-3"></i> <span>Share</span>
                </button>
            </div>
        </div>




    </div>
</section>




<!-- Share Modal -->
<div class="p-6" *ngIf="showModal">
    <app-share-qr-model [shareLink]="shareUrl" (close)="showModal = false"></app-share-qr-model>
</div>


<app-ai-audio-model *ngIf="showAudioModal" (close)="showAudioModal = false"></app-ai-audio-model>